<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
</head>
<body style="font-family:Arial,Sans-Serif; text-align:center">
<img src="cid:mail-logo" />
<br>
<h2><p><b><span th:text="${subject}"></span></b></p></h2>
<br>
<br>
<h2>Estimado/a <span th:text="${beneficiario}"></span></h2>
<h2>Hemos recibido una solicitud de recuperación de contraseña.</h2>
<p><b>Su nueva contraseña es: <span th:text="${message}"></span></b></p>
<br>
<h2>Si no ha realizado esta solicitud por favor comuníquese con nosotros al teléfono (0212) 7610083</h2>
<h2>Atentamente,</h2>
<br>
<h2>Soaint Venezuela</h2>
<br>
<h2>Knowledge, Transformation & Evolution</h2>
<br>
</body>
</html>











