<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
</head>
<body style="font-family:Arial,Sans-Serif; text-align:center">
<img src="cid:mail-logo" />
<br>
<h2><p><b><span th:text="${subject}"></span></b></p></h2>
<br>
<br>
<h2>Soaint le da la bienvenida</h2>
<br>
<h2>Estimado/a <span th:text="${beneficiario}"></span></h2>
<h2>Gracias por registrarse en la aplicación móvil de Soaint Venezuela, desde donde podrá monitorear sus bots desde la comodidad de su teléfono celular, entre otras funciones.</h2>
<h2>A continuación encontrará sus datos de acceso:</h2>
<br>
<h2><p><b>·         Usuario: <span th:text="${login}"></span></b></p></h2>
<br>
<h2><p><b>·         Clave de acceso: <span th:text="${message}"></span></b></p></h2>
<br>
<h2>Atentamente,</h2>
    <br>
    <h2>Soaint Venezuela</h2>
    <br>
    <h2>Knowledge, Transformation & Evolution</h2>
</body>
</html>





